.stack_letter {
    font-family: Pretendard-Bold, sans-serif;
    font-size: 37px;
    position: relative;
    top: -30px; /* 음수 값을 사용해 텍스트를 위로 이동 */
    margin-left: 20px;
}
video {
    width: 350px !important;
    height: 479px !important;
    margin-bottom: 20px;
    margin-left: 400px;
}

.imoticon {
    width: 280px;
    position: absolute; /* 이모티콘을 절대 위치로 고정 */
    top: 70px;
    left: 250px; /* 왼쪽에서 간격을 조절 */
}

.PictureCompletedPage_imoticon {
    width: 280px;
    position: absolute; /* 이모티콘을 절대 위치로 고정 */
    top: 40px;
    left: 510px;
}

.stack_logo {
    margin-left: 20px;
    margin-top: 20px;
    width: 134px;

}
/* 전체 배경 스타일 */
.camera-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;



}

/* 상단 로고와 텍스트 스타일 */
.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}



.developer-text {
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: 18px;
}

.title {
    font-size: 24px;
    margin-top: 10px;
}


.camera-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 200px;
    width: 261px;
    height: 75px;

}

.camera-start-button {
    margin-right: 50px;
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    width: 261px;
    height: 75px;

}
.camera-button {

    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    position: absolute; /* 위치를 절대값으로 지정 */
    right: 200px;
    transition: all 0.3s ease; /* 움직임에 애니메이션 효과 추가 */
    width: 261px;
    height: 75px;
}

.camera-button-right {
    right: 300px; /* 카메라가 시작되면 오른쪽으로 이동 */
    transform: translateX(0); /* 오른쪽으로 이동 시 중앙 정렬 제거 */
}
.next-button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    width: 150px;  /* 너비를 185px로 설정 */
    height: 68px; /* 높이를 73.2px로 설정 */
}
.chickpeas-icon {
    position: absolute;
    top: -10px; /* 텍스트 위쪽에 위치 */
    left: -20px; /* 텍스트 왼쪽에 위치 */
    width: 24px; /* 아이콘 크기 조정 */
    height: 24px;
    /* 여백이 필요하면 margin 추가 */
}



.camera-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
.arrow-right {
    width: 30px;
    height: 30px;

}



.photo-container {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    gap: 10px; /* 정사각형 간격 */
    margin-top: 300px; /* 위쪽 간격 */
}

.photo {
    width: 175px;
    height: 175px;
    background-color: white; /* 배경색 설정 */
    border: 1px solid black; /* 테두리 설정 */
}
